<div class="hero-unit">
    <div class="container">
    <h1 style="font-family: Comic Sans MS; font-size:35px;color:white">HOST</h1>
    <br/>
    <p style="font-family:Kaiti;color:white">冒烟测试主要验证<font class="comic"> HTTP </font>, 需要设置请求连接的<font class="comic">host</font></p>
    </div>
</div>
