<div class="hero-unit">
    <div class="container">
    <h1 style="font-family: Kaiti; font-size:35px;color:white">自动化测试主页</h1>
    <br/>
    <p style="font-family:Kaiti;color:white">这里给出了网站的部分功能说明与相关设置,具体工具使用和框架详情需要查看<a href="">使用说明</a>模块。</p>
    </div>
</div>

<div class="container">
    <div class="thumbnail" >
        <h3 style="font-family: Kaiti; color:#009966 ">工具介绍</h3>
        <p style="font-family:Kaiti; font-size: 18px">
            <strong style="font-family:Times New Roman">1. </strong>框架开发和脚本编写都采用<strong style="font-family:Times New Roman"> Ruby </strong>语言,语言相关介绍可以查看<a  style="font-family:Times New Roman"  href="http://www.ruby-lang.org/">Ruby</a>官方网站。
        </p>
        <p  style="font-family:Kaiti; font-size: 18px">
            <strong style="font-family:Times New Roman">2.  WebUI </strong>构建使用的是<strong style="font-family:Times New Roman"> ROR </strong>框架，相关信息可以查看<a style="font-family:Times New Roman" href="http://rubyonrails.org/">ROR</a>官方网站。
        </p>
        <p   style="font-family:Kaiti; font-size: 18px">
            <strong style="font-family: Times New Roman">3. </strong>功能测试通过对 <strong style="font-family: Times New Roman"> Watir(B/S) and AutoIT(C/S) </strong>定义的方法进行封装/调用，实现测试功能。
        </p>
        <p  style="font-family:Kaiti; font-size: 15px;color:gray">
            &nbsp; <strong class="Times">watir </strong>可以模拟页面元素的点击、勾选等基本操作, 为支持多浏览器操作，可以使用 <strong class="Times"> watir-webdriver </strong>。
        </p>
        <p  style="font-family:Kaiti; font-size: 15px;color:gray">
            &nbsp; <strong class="Times">autoit</strong> 可以模拟客户端的基本操作，同时也能支持浏览器中的弹出窗口处理。
        </p>
         <p   style="font-family:Kaiti; font-size: 18px">
             <strong class="Times">4. STAF </strong>作为分布式管理工具使用。<a href="http://staf.sourceforge.net/">官方网站</a>(已被屏蔽)。
         </p>
          <p   style="font-family:Kaiti; font-size: 18px">
              <strong class="Times">5. Gem:  Ruby </strong>提供了多种包工具，包括<strong class="Times"> HTTP </strong>校验、邮件发送等基本功能。
          </p>
    </div>
</div>
    <br/>
<div class="container">
    <div class="thumbnail">
            <h3 style="font-family: Kaiti; color:#009966 "">功能测试</h3>
            <p class="kt18"><strong class="Times">1.  </strong>模拟浏览器端的操作: 点击、勾选、取消勾选等; 校验浏览器页面元素显示：是否存在并显示、是否被勾选等。</p>
            <p class="kt18"><strong class="Times">2. </strong>模拟客户端的操作：定位、激活、点击；可以查看并校验其相关的文本信息。</p>
            <p class="kt18"><strong class="Times">3. </strong>数据存储依附数据库，网站端提供调控和用例调整功能；执行测试脚本单独实现。</p>
            <p class="kt18"><strong class="Times">4. </strong>在<a href="">测试结果</a>中可以查看当前运行的用例以及运行中相应步骤返回的状态。</p>
    </div>
</div>
    <br/>
<div class="container">
    <div class="thumbnail">
        <h3 style="font-family:Kaiti; color:#009966 "">冒烟测试</h3>
        <p class="kt18"><strong class="Times">1. </strong>验证 <strong class="Times"> HTTP </strong>返回值状态，主要为<strong class="Times"> Get/Post </strong>。</p>
        <p class="kt18"><strong class="Times">2. </strong>过程中需要存储相关的<strong class="Times"> cookie </strong>值，以此模拟某些必要前提。</p>
        <p class="kt18"><strong class="Times">3. </strong> 脚本中包含以下关键字：<strong class="Times"> HTTP/JSON/COOKIE-BASED </strong>，脚本单独实现。</p>
        <p class="kt18"><strong class="Times">4.  </strong> 数据存储依附<strong class="Times"> yaml </strong>格式。</p>
    </div>
</div>
<br/>

