<div class="btn-group">
<%=link_to '历史', wiki_page_history_path(@path), :class=>"btn" , :style=>"font-family: Kaiti"%>
<%=link_to '更改',wiki_page_edit_path(@page), :class=>"btn" , :style=>"font-family: Kaiti"%>
</div>
